<div class="card scroll">
  <div class="card-header">
    Ciudades
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="models" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['code']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo" (click)="newCity()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Departamento</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-model let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{model.code}}</td>
            <td>{{model.name}}</td>
            <td>{{model.state.name}}</td>
            <td>
              <button pButton pRipple type="button" icon="fas fa-edit" class="button-action"
                (click)="modifyCity(model)"></button>
              <button pButton pRipple type="button" icon="fas fa-trash-alt" class="button-action"
                (click)="deleteCity(model)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog header="Nueva ciudad" [(visible)]="showModal" [style]="{width: '30em'}" class="dialog-small" [modal]="true"
  [baseZIndex]="10000" [resizable]="false">
  <form [formGroup]="form_city">
    <div class="p-grid">
      <div class="p-col-6 p-sm-6">
        <label for="code">Código</label>
        <input id="code" type="text" [(ngModel)]="model.code" formControlName="code" pInputText>
        <ng-container *ngIf="form_city.get('code').hasError('required') && form_city.get('code').touched">
          <small class="p-invalid p-text-center">El código es obligatorio</small>
        </ng-container>
        <ng-container *ngIf="form_city.get('code').hasError('A') && form_city.get('code').touched">
          <small class="caption p-text-center">Este código ya está registrado</small>
        </ng-container>
      </div>
      <div class="p-col-6 p-sm-6">
        <label for="name">Nombre</label>
        <input id="name" [(ngModel)]="model.name" formControlName="name" type="text" pInputText>
        <ng-container *ngIf="form_city.get('name').hasError('required') && form_city.get('name').touched">
          <small class="p-invalid p-text-center">El nombre es obligatorio</small>
        </ng-container>
      </div>
      <div class="p-col-6 p-sm-6">
        <label for="state">Departamento</label>
        <p-dropdown id="state" [options]="states" [(ngModel)]="model.state.id" formControlName="state"
          placeholder="Selecciona">
        </p-dropdown>
        <ng-container *ngIf="form_city.get('state').hasError('required') && form_city.get('state').touched">
          <small class="p-invalid p-text-center">El departamento es obligatorio</small>
        </ng-container>
      </div>
    </div>
    <br>
    <br>
    <p-footer class="p-grid">
      <button type="submit" pButton pRipple icon="pi pi-save" label=" Guardar" class="p-button-save p-button p-ml-2"
        (click)="saveCity()" [disabled]="form_city.invalid"></button>
      <button type="submit" pButton pRipple icon="pi pi-times" label=" Cerrar" class="p-button-close button-text p-ml-2"
        (click)="showModal=false"></button>
    </p-footer>
  </form>
</p-dialog>
<p-confirmDialog class="dialog-small"></p-confirmDialog>
