<div styleClass="ssw-panel" class="card scroll" *ngIf="!showEdit">
  <div class="card-header">
    Producción
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="productionOrders" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" #dt
        [globalFilterFields]="['numOrder']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo" (click)="newProduction()" class="button-text p-button-close"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Numero de orden</th>
            <th>Fecha</th>
            <th>Numero de lote</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-productionOrder let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{productionOrder.numOrder}}</td>
            <td>{{productionOrder.date || ""}} </td>
            <td>{{productionOrder.numLote || ""}}</td>
            <td>
              <button pButton pRipple type="button" style="padding-right: 0.3em;"
                icon="fas fa-pencil" class="button-action" (click)="modifyProductionOrder(productionOrder)"></button>
              <button pButton pRipple type="button" icon="fas fa-trash-alt"
                class="button-action"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<div class="card scroll" *ngIf="showEdit">
  <div class="card-header p-d-flex p-jc-between p-ai-center">
    <span>Orden de producción</span>
    <button pButton pRipple icon="fas fa-times" class="p-button-rounded p-button-text" (click)="showEdit=false"></button>
  </div>

  <div class="card-body">
    <div class="order-detail-title">
      <p>Fecha de inicio: {{productionOrder.date}}</p>
      <p>Numero de orden: {{productionOrder.numOrder}}</p>
      <p>Numero de lote: {{productionOrder.numLote}}</p>
    </div>
    <p-table [value]="productionOrder.details" dataKey="id" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem"></th>
            <th>Name</th>
            <th>Cantidad</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-detail let-expanded="expanded">
        <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="detail" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{detail.article.name}}</td>
            <td>{{detail.quantity}}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-detail>
      <tr>
        <td colspan="7">
          <div class="p-p-3">
            <p-table [value]="detail.article.rawMaterials" dataKey="id" styleClass="p-datatable-gridlines">
              <ng-template pTemplate="header">
                <tr>
                  <th>Materia prima</th>
                  <th>Cantidad</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-order>
                <tr>
                    <td>{{order.article.name}}</td>
                    <td>{{detail.quantity * order.quantity}}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="showModal" [style]="{width: '45em'}" [modal]="true" [baseZIndex]="10" [resizable]="false">
  <ng-template pTemplate="header" class="p-mb-0 p-pb-0">
    <div class="p-grid">
      <div class="p-col-12 p-sm-12">
        <div>
          Ingreso de articulos
        </div>

      </div>
    </div>
  </ng-template>

  <form [formGroup]="form_production" class="">
    <div class="p-grid p-mt-2">

      <div class="p-field p-col-5 p-sm-5">
        <label for="date">Fecha de inicio</label>
        <input id="date" type="date" formControlName="date" [(ngModel)]="productionOrder.date"
          onkeyup="javascript:this.value = this.value.toUpperCase();" pInputText>
        <ng-container *ngIf="form_production.get('date').hasError('required') && form_production.get('date').touched">
          <small class="p-invalid p-text-center">El codigo es obligatorio</small>
        </ng-container>
        <ng-container *ngIf="form_production.get('date').hasError('A') && form_production.get('date').touched">
          <small class="caption p-text-center">Este codigo ya está en uso</small>
        </ng-container>
      </div>

      <div class="p-field p-col-5 p-sm-3">
        <label for="numOrder">Numero de orden</label>
        <input id="numOrder" formControlName="numOrder" [(ngModel)]="productionOrder.numOrder" type="text"
          onkeyup="javascript:this.value = this.value.toUpperCase();" pInputText>
        <ng-container *ngIf="form_production.get('numOrder').hasError('required') && form_production.get('numOrder').touched">
          <small class="p-invalid p-text-center">El codigo es obligatorio</small>
        </ng-container>
        <ng-container *ngIf="form_production.get('numOrder').hasError('A') && form_production.get('numOrder').touched">
          <small class="caption p-text-center">Este codigo ya está en uso</small>
        </ng-container>
      </div>

      <div class="p-field p-col-5 p-sm-3">
        <label for="numLote">Numero de Lote</label>
        <input id="numLote" formControlName="numLote" [(ngModel)]="productionOrder.numLote" type="text"
          onkeyup="javascript:this.value = this.value.toUpperCase();" pInputText>
        <ng-container *ngIf="form_production.get('numLote').hasError('required') && form_production.get('numLote').touched">
          <small class="p-invalid p-text-center">El codigo es obligatorio</small>
        </ng-container>
        <ng-container *ngIf="form_production.get('numLote').hasError('A') && form_production.get('numLote').touched">
          <small class="caption p-text-center">Este codigo ya está en uso</small>
        </ng-container>
      </div>
    </div>

      <p-table formArrayName="details" [value]="productionOrder.details" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
          [globalFilterFields]="['descripcion']">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input type="text" pInputText placeholder="Buscar..."
                  (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
              </span>
              <button pButton pRipple icon="pi pi-plus" iconPos="right" label="agregar" (click)="addProduct()" class="button-text p-button-close"></button>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Articulo</th>
              <th style="width: 80px;">Cantidad</th>
              <th>*</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body"  let-detail let-rowIndex="rowIndex">
            <tr [formGroupName]="rowIndex">
              <td>{{rowIndex+1}}</td>
              <td>
                <p-dropdown [options]="articles" formControlName="article" [(ngModel)]="detail.article" optionLabel="name" placeholder="Seleccione" [scrollHeight]="'135px'"></p-dropdown>
              </td>
              <td style="width: 80px;">
                <input [(ngModel)]="detail.quantity" formControlName="quantity" type="number" pInputText>
              </td>
              <td>
                <button pButton pRipple type="button" icon="fas fa-trash-alt"
                  class="button-action"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      <br>
      <p-footer class="p-grid">
        <button type="submit" pButton pRipple icon="pi pi-save" label=" Guardar" (click)="saveProductionOrder()"
          [disabled]="form_production.invalid"></button>
        <button pButton pRipple icon="pi pi-times" label=" Cerrar" class="p-button-close button-text p-ml-2"
          (click)="showModal=false"></button>
      </p-footer>
  </form>
</p-dialog>




