/* Sobre escritura de style primeng */
:host/deep/ .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #495057;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}

:host/deep/ .p-field {
  margin-bottom: -0.5rem;
}

:host/deep/  .p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.01rem #3646cd;
}

:host/deep/ .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #495057;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}

:host/deep/ .p-paginator .p-paginator-first,
:host/deep/ .p-paginator .p-paginator-prev,
:host/deep/ .p-paginator .p-paginator-next,
:host/deep/ .p-paginator .p-paginator-last {
  color: #3646cd;
}

:host/deep/ .p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.01rem #3646cd;
  border-color: #3646cd;
}

:host/deep/ .p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.01rem #3646cd;
}

.p-button-save {
  color: #fff;
  background: #3646cd;
  border-color: #3646cd !important;
}

.p-button-save:enabled:hover, .p-button-save:enabled:focus {
  color: #fff;
  background: #001f9b;
  border-color: #001f9b !important;
}

.input-line {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
  font-size: 14.5px;
}

.input-line:enabled:focus {
  box-shadow: none ;
  border-color: #3646cd;
}

/* Modal */

.row:after {
  content: "";
  display: bethe;
  clear: both;
}

.mb-1{
  margin-bottom: 1em;
}

.mr-05{
  padding-right: 0.5em;
}

.ml-05{
  padding-left: 0.5em;
}

.column {
  display: flex;
  float: left;
  height: 100%;
  width: 50%
}

.order-detail-title p {
  font-weight: 700;
  color: #5f5f5f;
}

.sales-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.status-P {
  background-color: #dddddd;
  color: #272727;
}

.status-F {
  background-color: #ffcdd2;
  color: #c63737;
}

.button-state {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}
