<div class="card scroll">
  <div class="card-body"></div>
  <div class="card-header">
    Bodega
  </div>
 <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="models" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['code']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo" (click)="newStore()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Opciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-store let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{store.code}}</td>
            <td>{{store.name}}</td>
            <td>
              <button pButton pRipple type="button" icon="fas fa-edit" class="button-action"
                (click)="modifyStore(store)"></button>
              <button pButton pRipple type="button" icon="fas fa-trash-alt" class="button-action"
                (click)="deletedStore(store)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<p-dialog header="Nueva Bodega" [(visible)]="showModal" [style]="{width: '40em'}" class="dialog-small" [modal]="true"
  [baseZIndex]="10000" [resizable]="false">
  <form [formGroup]="form_store">
    <div class="p-grid p-mt-2">
      <div class="p-field p-col-6 p-sm-6">
        <label for="code">Código</label>
        <input id="code" formControlName="code" type="text" pInputText [(ngModel)]="model.code">
        <ng-container *ngIf="form_store.get('code').hasError('required') && form_store.get('code').touched">
          <small class="p-invalid p-text-center">El código es obligatorio</small>
        </ng-container>
        <ng-container *ngIf="form_store.get('code').hasError('A') && form_store.get('code').touched">
          <small class="caption p-text-center">Esta código ya está registrado</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" type="text" pInputText [(ngModel)]="model.name">
        <ng-container
          *ngIf="form_store.get('name').hasError('required') && form_store.get('name').touched">
          <small class="caption p-text-center">El Nombre es obligatorio</small>
        </ng-container>
      </div>
    </div>
    <br>
    <br>
    <p-footer class="p-grid">
      <button type="submit" pButton pRipple icon="far fa-save" label=" Guardar" class="p-button-save p-button p-ml-2"
        (click)="saveStore()" [disabled]="form_store.invalid"></button>
      <button type="submit" pButton pRipple icon="fas fa-times" label=" Cerrar"
        class="p-button-close button-text p-ml-2" (click)="showModal=false"></button>
    </p-footer>
  </form>
</p-dialog>
<p-confirmDialog class="dialog-small"></p-confirmDialog>
<p-toast position="bottom-right"></p-toast>

