<div styleClass="ssw-panel" class="card scroll">
  <div class="card-header">
    Productos
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="products" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['descripcion']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo" class="button-text p-button-close"
              (click)="newProduct()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categorias</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataRow let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{dataRow.description}}</td>
            <td>{{dataRow.salePrice}}</td>
            <td>{{dataRow.category.description}}</td>
            <td>
              <button pButton pRipple type="button" style="padding-right: 0.3em;" icon="pi pi-pencil"
                class="button-action"></button>
              <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteProduct(dataRow)" class="button-action"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<p-dialog header="Nuevo" [(visible)]="showModal" [style]="{width: '40em'}" class="dialog-small" [modal]="true"
  [baseZIndex]="10000" [resizable]="false">
  <div class="p-grid">
    <div class="p-field p-col-6 p-sm-6">
      <label for="description">Descripción</label>
      <input id="description" type="text" [(ngModel)]="product.description" pInputText>
    </div>

    <div class="p-field p-col-6 p-sm-6">
      <label for="packing">Precio</label>
      <input id="packing" type="text" [(ngModel)]="product.salePrice" pInputText>
    </div>
    <div class="p-field p-col-6 p-sm-6">
      <label for="packing">Categorias</label>
      <p-dropdown [options]="categories"  [(ngModel)]="product.category" optionLabel="description"></p-dropdown>
    </div>
  </div>
  <p-footer class="p-grid">
    <button pButton pRipple icon="pi pi-times" label=" Cerrar" class="p-button-close button-text"
      (click)="showModal=false"></button>
    <button type="submit" pButton pRipple icon="pi pi-save" label=" Guardar" class="p-button-save p-button"
      (click)="saveProduct()"></button>
  </p-footer>
</p-dialog>

<p-confirmDialog class="dialog-small"></p-confirmDialog>
