<div styleClass="ssw-panel" class="card scroll">
  <div class="card-header">
    Productos
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="products" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['descripcion']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo" class="button-text p-button-close"
              (click)="newProduct()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Categorias</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{product.article.name}}</td>
            <td>{{product.article.unitValue || ""}} </td>
            <td>{{product.article.category.name}}</td>
            <td>
              <button pButton pRipple type="button" style="padding-right: 0.3em;" (click)="modifyProduct(product)" icon="pi pi-pencil"
                class="button-action"></button>
              <button pButton pRipple type="button" icon="pi pi-trash" (click)="deleteProduct(product)"
                class="button-action"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<p-dialog header="Ingreso de articulos" [(visible)]="showModal" [style]="{width: '45em'}" [modal]="true"
  [baseZIndex]="10" [resizable]="false">
  <form [formGroup]="form_product" (ngSubmit)="saveProduct()" class="">
    <div class="p-grid p-mt-2">
      <div class="p-field p-col-6 p-sm-6">
        <label for="description">Nombre</label>
        <input id="description" formControlName="name" [(ngModel)]="product.article.name" type="text" pInputText>
        <ng-container *ngIf="form_product.get('name').hasError('required') && form_product.get('name').touched">
          <small class="p-invalid p-text-center">El nombre del producto es obligatorio</small>
        </ng-container>
        <ng-container *ngIf="form_product.get('name').hasError('A') && form_product.get('name').touched">
          <small class="caption p-text-center">Este nombre ya está en uso</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="stock">Stock</label>
        <input id="stock" [(ngModel)]="product.article.stock" formControlName="stock" type="text" pInputText>
        <ng-container *ngIf="form_product.get('stock').hasError('required') && form_product.get('stock').touched">
          <small class="p-invalid p-text-center">El stock es obligatorio</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="unitValue">Valor unitario</label>
        <input id="unitValue"  [(ngModel)]="product.article.unitValue" type="text" formControlName="unitValue" pInputText>
        <ng-container *ngIf="form_product.get('unitValue').hasError('required') && form_product.get('unitValue').touched">
          <small class="p-invalid p-text-center">El valor unitario del producto es obligatorio</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="categories">Categorias</label>
        <p-dropdown [options]="categories" [(ngModel)]="product.article.category" formControlName="category" placeholder="Seleccione"></p-dropdown>
        <ng-container *ngIf="form_product.get('category').hasError('required') && form_product.get('category').touched">
          <small class="p-invalid p-text-center">La categoria es obligatoria</small>
        </ng-container>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label for="expeditionDate">Fecha de expedicion</label>
        <input id="expeditionDate" type="date" formControlName="expeditionDate" [(ngModel)]="product.article.dateExpiry" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label for="productionCost">Costo de produción</label>
        <input id="productionCost" [(ngModel)]="product.productionCost" formControlName="productionCost" type="text" pInputText>
        <ng-container *ngIf="form_product.get('productionCost').hasError('required') && form_product.get('productionCost').touched">
          <small class="p-invalid p-text-center">El costo de producción es oblogatorio</small>
        </ng-container>
      </div>
    </div>
    <br>
    <br>
    <p-tabView styleClass="tabview-custom">
      <!-- Panel de materia prima -->
      <p-tabPanel>
        <div class="p-d-flex p-jc-between p-ai-center p-mt-2">
          <h4 class="color-title">Materia prima</h4>
          <button pButton pRipple icon="fas fa-plus" iconPos="right" label="Agregar"
            class="p-button button-text p-button-close"></button>
        </div>
        <div class="table-responsive">
          <p-table [value]="" dataKey="id" styleClass="p-datatable-gridlines" class="p-mb-3"
            formArrayName="addresses">
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 100px;">Producto</th>
                <th style="width: 100px;">Cantidad necesaria</th>
                <th style="width: 50px;">*</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowIndex="rowIndex">
              <tr [formGroupName]="rowIndex">
                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <p-dropdown  id="city" formControlName="city" placeholder="Selecciona"
                         optionLabel="name" [style]="{ width: '100%' }"></p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      <!-- {{ dataRow.city.name }} -->
                    </ng-template>
                  </p-cellEditor>
                </td>

                <td pEditableColumn>
                  <p-cellEditor>
                    <ng-template pTemplate="input">
                      <input pInputText type="text" formControlName="neighborhood"/>
                    </ng-template>
                    <ng-template pTemplate="output">
                      <!-- {{ dataRow.neighborhood || "" }} -->
                    </ng-template>
                  </p-cellEditor>
                </td>


                <td>
                  <button pButton pRipple type="button" icon="fa fa-trash-alt" class="button-action"
                    ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-tabPanel>
    </p-tabView>
    <br>
    <p-footer class="p-grid">
      <button type="submit" pButton pRipple icon="pi pi-save" label=" Guardar" class="p-button-save p-button p-ml-2"></button>
      <button  pButton pRipple icon="pi pi-times" label=" Cerrar" class="p-button-close button-text p-ml-2"
        (click)="showModal=false"></button>
    </p-footer>
  </form>
</p-dialog>
<p-confirmDialog class="dialog-small"></p-confirmDialog>
