<div class="card scroll">
  <div class="card-header">
    Tipos de empleados
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="typeEmployees" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['code']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo"
              class="p-button button-text p-button-close" (click)="newTypeEmployee()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-TypeEmployee let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{TypeEmployee.code}}</td>
            <td>{{TypeEmployee.description}}</td>
            <td>
              <button pButton pRipple type="button" icon="fas fa-edit" class="button-action"
                (click)="modifyTypeEmployee(TypeEmployee)"></button>
              <button pButton pRipple type="button" icon="fas fa-trash-alt" class="button-action"
                (click)="deletedTypeEmployee(TypeEmployee)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog header="Nuevo tipo de pago" [(visible)]="showModal" [style]="{width: '40em'}" class="dialog-small" [modal]="true"
  [baseZIndex]="10000" [resizable]="false">
  <form [formGroup]="form_TypeEmployee" class="">
    <div class="p-grid p-mt-2">
      <div class="p-field p-col-6 p-sm-6">
        <label for="code">Codigo</label>
        <input id="code" formControlName="code" type="text" pInputText [(ngModel)]="model.code">
        <ng-container *ngIf="form_TypeEmployee.get('code').hasError('required') && form_TypeEmployee.get('code').touched">
          <small class="p-invalid p-text-center">El codigo es obligatoria</small>
        </ng-container>
        <ng-container *ngIf="form_TypeEmployee.get('code').hasError('A') && form_TypeEmployee.get('code').touched">
          <small class="caption p-text-center">Esta codigo ya está registrada</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="description">Descripcion</label>
        <input id="description" formControlName="description" type="text" pInputText [(ngModel)]="model.description">
        <ng-container
          *ngIf="form_TypeEmployee.get('description').hasError('required') && form_TypeEmployee.get('description').touched">
          <small class="caption p-text-center">la descripcion es obligatoria</small>
        </ng-container>
      </div>
    </div>
    <br>
    <br>
    <p-footer class="p-grid">
      <button type="submit" pButton pRipple icon="far fa-save" label=" Guardar" class="p-button-save p-button p-ml-2"
        (click)="saveTypeEmployee()" [disabled]="form_TypeEmployee.invalid"></button>
      <button type="submit" pButton pRipple icon="fas fa-times" label=" Cerrar"
        class="p-button-close button-text p-ml-2" (click)="showModal=false"></button>
    </p-footer>
  </form>
</p-dialog>
<p-confirmDialog class="dialog-small"></p-confirmDialog>
<p-toast position="bottom-right"></p-toast>
