<div styleClass="ssw-panel" class="card scroll">
  <div class="card-header">
    Materia prima
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="rowMaterial" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['descripcion']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="fas fa-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="fas fa-plus" iconPos="right" label="Nuevo" class="button-text p-button-close"
              (click)="newRawMaterial()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Descripcion</th>
            <th>Fecha de ingreso</th>
            <th>Cantidad</th>
            <th>Precio de compra</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataRow let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{dataRow.description}}</td>
            <td>{{dataRow.startAt}}</td>
            <td>{{dataRow.count}}</td>
            <td>{{dataRow.price}}</td>
            <td>
              <button pButton pRipple type="button" icon="fas fa-edit" class="button-action p-mr-3"></button>
              <button pButton pRipple type="button" icon="fas fa-trash-alt  " class="button-action"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<p-dialog header="Ingreso de materia prima" [(visible)]="showModal" [style]="{width: '40em'}" class="dialog-small"
  [modal]="true" [baseZIndex]="10000" [resizable]="false">
  <form [formGroup]="form_rowMaterial" (ngSubmit)="saveRawMaterial()" class="">
    <div class="p-grid p-mt-2">
      <div class="p-field p-col-6 p-sm-6">
        <label for="description">Descripción</label>
        <input id="description" formControlName="description" type="text" pInputText>
        <ng-container
          *ngIf="form_rowMaterial.get('description').hasError('required') && form_rowMaterial.get('description').touched">
          <small class="p-invalid p-text-center">la descripcion es obligatoria</small>
        </ng-container>
        <ng-container
          *ngIf="form_rowMaterial.get('description').hasError('A') && form_rowMaterial.get('description').touched">
          <small class="p-invalid p-text-center">Esta materia prima ya está registrada</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="count">Cantidad</label>
        <p-inputNumber formControlName="count" [style]="{width: '100%'}" mode="decimal" [showButtons]="true"
          inputId="count" [min]="0"></p-inputNumber>
        <ng-container
          *ngIf="form_rowMaterial.get('count').hasError('required') && form_rowMaterial.get('count').touched">
          <small class="p-invalid p-text-center">La cantidad es obligatoria</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="price">Precio de compra</label>
        <p-inputNumber formControlName="price" [style]="{width: '100%'}" inputId="locale-us" mode="decimal"
          locale="en-US" [minFractionDigits]="0" [min]="0">
        </p-inputNumber>
        <ng-container
          *ngIf="form_rowMaterial.get('price').hasError('required') && form_rowMaterial.get('price').touched">
          <small class="p-invalid p-text-center">El importe es obligatorio</small>
        </ng-container>
      </div>
    </div>
    <br>
    <br>
    <p-footer class="p-grid">
      <button type="submit" pButton pRipple icon="far fa-save" label=" Guardar" class="p-button-save p-button p-ml-2"
        (click)="newRawMaterial()" [disabled]="form_rowMaterial.invalid"></button>
      <button type="submit" pButton pRipple icon="fas fa-times" label=" Cerrar"
        class="p-button-close button-text p-ml-2" (click)="showModal=false"></button>
    </p-footer>
  </form>
</p-dialog>
