<div styleClass="ssw-panel" class="card scroll">
  <div class="card-header">
    Materia prima
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['descripcion']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="fas fa-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="fas fa-plus" iconPos="right" label="Nuevo" class="button-text p-button-close"
              (click)="newRawMaterial()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Medida</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataRow let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <button pButton pRipple type="button" icon="fas fa-edit" class="button-action"></button>
              <button pButton pRipple type="button" icon="fas fa-trash-alt" class="button-action"></button>
              <button pButton pRipple type="button" icon="fas fa-eye" class="button-action"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<p-dialog header="Ingreso de materia prima" [(visible)]="showModal" [style]="{width: '40em'}" class="dialog-small"
  [modal]="true" [baseZIndex]="10000" [resizable]="false">
  <form [formGroup]="form_product" class="">
    <div class="p-grid p-mt-2">
      <div class="p-field p-col-6 p-sm-6">
        <label for="description">Nombre</label>
        <input id="description" formControlName="name"  type="text" pInputText>
        <ng-container *ngIf="form_product.get('name').hasError('required') && form_product.get('name').touched">
          <small class="p-invalid p-text-center">El nombre del producto es obligatorio</small>
        </ng-container>
        <ng-container *ngIf="form_product.get('name').hasError('A') && form_product.get('name').touched">
          <small class="caption p-text-center">Este nombre ya está en uso</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="stock">Stock</label>
        <input id="stock"  formControlName="stock" type="text" pInputText>
        <ng-container *ngIf="form_product.get('stock').hasError('required') && form_product.get('stock').touched">
          <small class="p-invalid p-text-center">El stock es obligatorio</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="unitValue">Valor unitario</label>
        <input id="unitValue"  type="text" formControlName="unitValue" pInputText>
        <ng-container *ngIf="form_product.get('unitValue').hasError('required') && form_product.get('unitValue').touched">
          <small class="p-invalid p-text-center">El valor unitario del producto es obligatorio</small>
        </ng-container>
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="categories">Categorias</label>
        <p-dropdown [options]=""  formControlName="category" placeholder="Seleccione"></p-dropdown>
        <ng-container *ngIf="form_product.get('category').hasError('required') && form_product.get('category').touched">
          <small class="p-invalid p-text-center">La categoria es obligatoria</small>
        </ng-container>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label for="expeditionDate">Fecha de expedicion</label>
        <input id="expeditionDate" type="date" formControlName="expeditionDate" pInputText>
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label for="productionCost">Costo de produción</label>
        <input id="productionCost" formControlName="productionCost" type="text" pInputText>
        <ng-container *ngIf="form_product.get('productionCost').hasError('required') && form_product.get('productionCost').touched">
          <small class="p-invalid p-text-center">El costo de producción es oblogatorio</small>
        </ng-container>
      </div>
    </div>
    <br>
    <br>
    <p-footer class="p-grid">
      <button type="submit" pButton pRipple icon="pi pi-save" label=" Guardar" class="p-button-save p-button p-ml-2"></button>
      <button  pButton pRipple icon="pi pi-times" label=" Cerrar" class="p-button-close button-text p-ml-2"
        (click)="showModal=false"></button>
    </p-footer>
  </form>
</p-dialog>
