<div styleClass="ssw-panel" class="card scroll">
  <div class="card-header">
    Empaques
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <p-table [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['title', 'activityType.name']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="p-inputtext input-line" />
            </span>
            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo" class="button-text p-button"
              (click)="newPacking()"> <i></i></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataRow let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{dataRow.description}}</td>
            <td>{{dataRow.count}}</td>
            <td>
              <button pButton pRipple type="button" icon="fa fa-pencil" class="button-action p-mr-3"></button>
              <button pButton pRipple type="button" icon="fa fa-trash" class="button-action"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


<p-dialog header="Nuevo" [(visible)]="showModal" [style]="{width: '40em'}" class="dialog-small" [modal]="true"
  [baseZIndex]="10000" [resizable]="false">
  <div class="p-grid">
    <div class="p-field p-col-6 p-sm-6">
      <label for="firstname2">Descripción</label>
      <input id="firstname2" type="text" pInputText>
    </div>
    <div class="p-field p-col-6 p-sm-6">
      <label for="lastname2">Cantidad</label>
      <input id="lastname2" type="text" pInputText>
    </div>
  </div>

  <p-footer class="p-grid">
    <p-button type="submit" icon="fa fa-save" class="btns bt1 p-col-6" iconPos="left" label="Guardar"></p-button>
    <p-button icon="fa fa-times" class="btns bt1 p-col-6" iconPos="left" label="Cerrar" (click)="showModal=false">
    </p-button>
  </p-footer>
  <!-- <p-footer>
    <p-button icon="fas fa-save" iconPos="left" label="Guardar" [disabled]="name.invalid" (click)="saveTerm()">
    </p-button>
    <p-button icon="fas fa-times" iconPos="left" label="Cerrar" (click)="showModal=false"></p-button>
  </p-footer> -->
</p-dialog>
