/* Sobre escritura de style primeng */

:host/deep/ .p-field {
  margin-bottom: -0.5rem;
}

:host/deep/  .p-dialog .p-dialog-header .p-dialog-header-icon:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.01rem #3646cd;
}

:host/deep/ .p-paginator .p-paginator-first,
:host/deep/ .p-paginator .p-paginator-prev,
:host/deep/ .p-paginator .p-paginator-next,
:host/deep/ .p-paginator .p-paginator-last {
  color: #3646cd;
}

:host/deep/ .p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.01rem #3646cd;
  border-color: #3646cd;
}

:host/deep/ .p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.01rem #3646cd;
}

:host/deep/ .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border: none;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #495057;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}

:host/deep/ .p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: none;
}

/* style component */
.button-action {
  width: 20px !important;
  height: 20px;
  background: transparent !important;
  border: none !important;
  color: rgba(31, 45, 65, 0.5) !important;
}

.button-text{
  float: right;
  position: relative;
  border: none;
  font-weight: bold;
}

.p-button-close {
  color: #3646CD;
  background: rgba(54, 70, 205, 0.173);
  border-color: #3646CD !important;
}

.p-button-close:enabled:hover, .p-button-close:enabled:focus {
  color: #3646CD;
  background: #3646CD49;
  border-color: #3646CD48 !important;
}

.p-button-save {
  color: #fff;
  background: #3646cd;
  border-color: #3646cd !important;
}

.p-button-save:enabled:hover, .p-button-save:enabled:focus {
  color: #fff;
  background: #001f9b;
  border-color: #001f9b !important;
}

.input-line {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
  font-size: 14.5px;
}

.input-line:enabled:focus {
  box-shadow: none ;
  border-color: #3646cd;
}

/* Modal */

.row:after {
  content: "";
  display: bethe;
  clear: both;
}

.mb-1{
  margin-bottom: 1em;
}

.mr-05{
  padding-right: 0.5em;
}

.ml-05{
  padding-left: 0.5em;
}

.column {
  display: flex;
  float: left;
  height: 100%;
  width: 50%
}
