/* Sobre escritura de style primeng */

:host/deep/ .p-inputtext:enabled:focus {
  box-shadow: 0 0 0 0.01rem #3646cd;
  border-color: #3646cd;
}

:host/deep/ .p-datatable .p-datatable-thead > tr > th {
  text-align: left;
  padding: 1rem 1rem;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: #495057;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
}

:host/deep/ .p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
}

:host/deep/ .p-inputtext:enabled:hover {
  border-color: #3645cd98;
}

:host/deep/ .p-dropdown:not(.p-disabled):hover {
  border-color: #3645cd98;
}

:host/deep/ .p-dropdown {
  height: 2em;
}

:host/deep/ .p-field-checkbox, .p-field-radiobutton {
  margin-bottom: auto;
  margin-top: auto;
}

:host/deep/ .p-field{
  margin-bottom: 0;
}

:host/deep/ .p-dialog-header {
    padding-bottom: 0;
}

.cost {
  align-items: flex-end;
  font-size: 14px;
  width: 14em;
}

.p-button-save {
  color: #fff;
  background: #3646cd;
  border-color: #3646cd !important;
  padding: .5em .8em;
}

.p-button-save:enabled:hover, .p-button-save:enabled:focus {
  color: #fff;
  background: #001f9b;
  border-color: #001f9b !important;
}

.input-line {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0px;
  font-size: 14.5px;
}

.input-line:enabled:focus {
  box-shadow: none ;
  border-color: #3646cd;
}

.color-title{
  padding: .1em 0;
  margin: .5em 0;
}
