<div class="container__body">
  <img class="wave" src="assets/images/wave.png">
  <div class="container">
    <div class="img">
      <img src="assets/images/bg.svg">
    </div>
    <div class="login-content">
      <form (ngSubmit)="onClickLogin()">
        <img src="assets/images/avatar.svg">
        <h2 class="title">Bienvenido</h2>
        <div class="input-div one" [ngClass]="focusUser">
          <div class="i">
            <i class="pi pi-user"></i>
          </div>
          <div class="div">
            <span class="p-float-label">
              <input name="userName" type="text" pInputText [(ngModel)]="userName" (blur)="focusUser=''"
                (focus)="focusUser='focus'" (keyup.enter)="onClickLogin()" />
              <label for="float-input" class="label">Username</label>
            </span>
          </div>
        </div>
        <div class="input-div pass" [ngClass]="focusPassword">
          <div class="i">
            <i class="pi pi-lock"></i>
          </div>
          <div class="div">
            <span class="p-float-label">
              <input name="userPassword" type="password" pInputText [(ngModel)]="userPassword" (blur)="focusPassword=''"
                (focus)="focusPassword='focus'" (keyup.enter)="onClickLogin()" />
              <label for="float-input" class="label">Password</label>
            </span>
          </div>
        </div>
        <input type="submit" class="btn" value="Ingresar">
      </form>
    </div>
  </div>
</div>
