<div class="container__body">

  <div class="container">
    <div class="login-content">
      <form (ngSubmit)="onClickLogin()" [formGroup]="LoginForm">
        <img src="assets/images/avatar.svg">
        <h2 class="title">Bienvenido</h2>
        <div class="input-div one" [ngClass]="focusUser">
          <div class="i">
            <i class="pi pi-user"></i>
          </div>
          <div class="div">
            <span class="p-float-label">
              <input name="userName" formControlName="username" type="text" pInputText [(ngModel)]="userName"
                (blur)="focusUser=''" (focus)="focusUser='focus'" (keyup.enter)="onClickLogin()" />
              <label for="float-input" class="label">Username</label>
            </span>
          </div>
        </div>
        <ng-container *ngIf="LoginForm.get('username').hasError('required') && LoginForm.get('username').touched">
          <small id="username2-help" class="p-invalid">Usuario obligatorio</small>
        </ng-container>
        <div class="input-div pass" [ngClass]="focusPassword">
          <div class="i">
            <i class="pi pi-lock"></i>
          </div>
          <div class="div">
            <span class="p-float-label">
              <input name="userPassword" formControlName="userpassword" type="password" pInputText
                [(ngModel)]="userPassword" (blur)="focusPassword=''" (focus)="focusPassword='focus'"
                (keyup.enter)="onClickLogin()" />
              <label for="float-input" class="label">Password</label>
            </span>
          </div>
        </div>
        <ng-container
          *ngIf="LoginForm.get('userpassword').hasError('required') && LoginForm.get('userpassword').touched">
          <small class="caption">Contraseña obligatoria</small>
        </ng-container>
        <button type="submit" class="btn"
          [disabled]="!LoginForm.valid">{{ !isLoading ? 'Iniciar sesión' : 'Cargando...' }}</button>
      </form>
    </div>
  </div>
</div>
<p-toast position="bottom-right"></p-toast>
