.menu{
  width: 15rem;
  display: block;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  color: #414141;
  border-right: 1px solid #f1f1f1;
  height: 100%;
  position: fixed;
  overflow: auto;
}

:host /deep/ .p-panelmenu .p-panelmenu-header > a{
  background: #fff;
  border: none;
}

:host /deep/ .p-panelmenu .p-panelmenu-header > a:hover{
  background: rgb(204, 201, 201);
  border: none;
}

.scroll {
  overflow-y: auto;
}
.scroll:hover {
  overflow-y: auto;
}
.scroll::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}
.scroll::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #d9d9d9;
}

@media (min-width: 992px) {
  .menu {
      display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .menu {
    display: none;
    width: 100%;
  }
}


