.menu{
  width: 15rem;
  display: block;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  color: #414141;
  border-right: 1px solid #f1f1f1;
  height: 100%;
  position: fixed;
  overflow: auto;
}

:host /deep/ .p-panelmenu .p-panelmenu-header > a{
  background: #fff;
  border: none;
  box-shadow: none;
}

:host /deep/ .p-panelmenu .p-panelmenu-header > a:hover:focus{
  background: rgb(248, 248, 248);
  box-shadow: none;
}

:host /deep/ .p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled) > a:hover {
  background: rgb(248, 248, 248);
  border-color: #dee2e6;
  color: #495057;
}

:host /deep/ .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  padding: 0.7rem 1.3rem;
  color: #212529;
  border-radius: 0;
  transition: box-shadow 0.15s;
  -webkit-user-select: none;
  user-select: none;
  margin-left: 25px;
  border-left: 1px solid #c3c3c3;
}

:host /deep/ .p-panelmenu .p-panelmenu-content {
  padding-top: 0;
}

:host /deep/ .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
  background: rgb(248, 248, 248);
}

:host /deep/ .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
  background: rgb(248, 248, 248);
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
}

:host /deep/ .p-panelmenu .p-panelmenu-panel {
  box-shadow: none;
}

.scroll {
  overflow-y: auto;
}
.scroll:hover {
  overflow-y: auto;
}
.scroll::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}
.scroll::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #d9d9d9;
}

@media (min-width: 992px) {
  .menu {
      display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .menu {
    display: none;
    min-width: 200px;
  }
}


