<div class="card scroll">
  <div class="card-header">
    Departamentos
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="models" [paginator]=" true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['code']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo" (click)="newState()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>País</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-state let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{state.code}}</td>
            <td>{{state.name}}</td>
            <td>{{state.country}}</td>
            <td>
              <button pButton pRipple type="button" icon="fas fa-edit" class="button-action"
                (click)="modifyState(state)"></button>
              <button pButton pRipple type="button" icon="fas fa-trash-alt" class="button-action"
                (click)="deleteState(state)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog header="Nuevo departamento" [(visible)]="showModal" [style]="{width: '40em'}" class="dialog-small" [modal]="true"
  [baseZIndex]="10000" [resizable]="false">
  <form [formGroup]="form_state">
    <div class="p-grid">
      <div class="p-col-12 p-sm-6">
        <label for="code">Código</label>
        <input id="code" [(ngModel)]="model.code" formControlName="code" type="text" pInputText>
        <ng-container *ngIf="form_state.get('code').hasError('required') && form_state.get('code').touched">
          <small class="p-invalid p-text-center">El código es obligatorio</small>
        </ng-container>
        <ng-container *ngIf="form_state.get('code').hasError('A') && form_state.get('code').touched">
          <small class="caption p-text-center">Esta código ya está registrado</small>
        </ng-container>
      </div>
      <div class="p-col-12 p-sm-6 ">
        <label for="name">Nombre</label>
        <input id="name" [(ngModel)]="model.name" formControlName="name" type="text" pInputText>
        <ng-container *ngIf="form_state.get('name').hasError('required') && form_state.get('name').touched">
          <small class="p-invalid p-text-center">El nombre es obligatoria</small>
        </ng-container>
      </div>
      <div class="p-col-12 p-sm-6">
        <label for="staet">Paíse</label>
        <p-dropdown [options]="country" [(ngModel)]="model.country" formControlName="country"
          placeholder="Selecciona el pais" optionLabel="name" optionValue="name">
        </p-dropdown>
        <ng-container *ngIf="form_state.get('country').hasError('required') && form_state.get('country').touched">
          <small class="p-invalid p-text-center">El país es obligatorio</small>
        </ng-container>
      </div>
    </div>
    <br>
    <p-footer class="p-grid">
      <button type="submit" pButton pRipple icon="pi pi-save" label=" Guardar" class="p-button-save p-button p-ml-2"
        (click)="saveState()" [disabled]="form_state.invalid"></button>
      <button type="submit" pButton pRipple icon="pi pi-times" label=" Cerrar" class="p-button-close button-text p-ml-2"
        (click)="showModal=false"></button>
    </p-footer>
  </form>
</p-dialog>
<p-confirmDialog class="dialog-small"></p-confirmDialog>
