<nb-layout>
  <nb-layout-header fixed>
    <hr-header class="header"></hr-header>
  </nb-layout-header>

  <nb-sidebar>xD</nb-sidebar>
  <nb-layout-column>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt eveniet tempora officia. Assumenda porro et
    corporis, voluptate perspiciatis esse omnis odio fugit sit distinctio. Officiis dolore deleniti incidunt sed
    ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur tempora laudantium quae consequatur. Libero
    eaque culpa tempora, dignissimos odio ad illo labore nisi in, similique laboriosam rerum, deserunt cumque tenetur?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla consequatur quaerat non optio, cum sit? Inventore,
    dolor odio! Veritatis dignissimos quae quam doloribus ducimus odit officiis assumenda et quis eveniet!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit amet consectetur ullam aliquam id praesentium ad
    excepturi quisquam atque error temporibus ab officiis saepe molestiae nulla at modi, adipisci rerum.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus iusto culpa, ex error perspiciatis autem
    doloribus. Sit nulla qui inventore dicta corporis ex fugit ducimus accusamus fuga amet, praesentium ullam?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis delectus modi sunt ipsam possimus soluta totam
    voluptatum, iure blanditiis illo repellendus adipisci omnis praesentium officia quis consectetur eos nobis iusto!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique hic perferendis saepe nesciunt impedit cum nemo
    maiores! Temporibus nesciunt, tempore minus, maiores voluptates reiciendis explicabo laboriosam voluptate voluptatum
    culpa veniam?
  </nb-layout-column>

</nb-layout>
