<div class="card scroll">
  <div class="card-header">Cuentas</div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="accounts" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['code']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
           <!--<button pButton pRipple icon="pi pi-print" iconPos="right" label="Importar" class="p-button"></button>-->

            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo" (click)="newAccount()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Naturaleza</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-account let-rowIndex="rowIndex">
          <tr>
            <td>{{ rowIndex + 1 }}</td>
            <td>{{ account.code }}</td>
            <td>{{ account.name }}</td>
            <td>{{ account.nature === "D" ? "Débito" : "Crédito" }}</td>
            <td>
              <button pButton pRipple type="button" icon="fas fa-edit" class="button-action"
                (click)="modifyAccount(account)"></button>
              <button pButton pRipple type="button" icon="fas fa-trash-alt" class="button-action"
                (click)="deletedAccount(account)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog header="Nueva cuenta" [(visible)]="showModal" [style]="{ width: '40em' }" class="dialog-small" [modal]="true"
  [baseZIndex]="10000" [resizable]="false">
  <form>
    <div class="p-grid p-mt-2">
      <div class="p-field p-col-6 p-sm-6">
        <label for="code">Código</label>
        <input id="code" type="number" name="code" pInputText [(ngModel)]="model.code" />
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="description">Descripción</label>
        <input id="description" type="text" name="description" pInputText [(ngModel)]="model.name" />
      </div>
      <div class="p-field p-col-6 p-sm-6">
        <label for="nature">Naturaleza</label>
        <p-dropdown name="nature" [options]="natures" placeholder="Selecciona una naturaleza"
          [(ngModel)]="model.nature"></p-dropdown>
      </div>
    </div>
    <br />
    <br />
    <p-footer class="p-grid">
      <button type="submit" pButton pRipple icon="far fa-save" label=" Guardar" class="p-button-save p-button p-ml-2"
        (click)="saveAccount()"></button>
      <button type="submit" pButton pRipple icon="fas fa-times" label=" Cerrar"
        class="p-button-close button-text p-ml-2" (click)="showModal = false"></button>
    </p-footer>
  </form>
</p-dialog>
<p-confirmDialog class="dialog-small"></p-confirmDialog>
<p-toast position="bottom-right"></p-toast>
