<div styleClass="ssw-panel" class="card scroll">
  <div class="card-header">
    Productos Terminados
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="p-text-center">
      <p-progressSpinner animationDuration=".7s"></p-progressSpinner>
    </div>
    <div class="table-responsive" *ngIf="!isLoading">
      <p-table [value]="products" [paginator]="true" [rows]="10" styleClass="p-datatable-gridlines" #dt
        [globalFilterFields]="['descripcion']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span class="p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Buscar..."
                (input)="dt.filterGlobal($event.target.value, 'contains')" class="input-line p-inputtext" />
            </span>
            <button pButton pRipple icon="pi pi-plus" iconPos="right" label="Nuevo" (click)="newProduct()"></button>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Código</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>*</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex+1}}</td>
            <td>{{product.code}}</td>
            <td>{{product.name}}</td>
            <td>{{ product.unitValue }}</td>
            <td>
              <button pButton pRipple type="button" style="padding-right: 0.3em;" (click)="modifyProduct(product)"
                icon="fas fa-pencil" class="button-action"></button>
              <button pButton pRipple type="button" icon="fas fa-trash-alt" (click)="deleteProduct(product)"
                class="button-action"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="showModal" [style]="{width: '45em', 'max-height': '80%'}" [modal]="true" [baseZIndex]="10" [resizable]="false">
  <ng-template pTemplate="header" class="p-mb-0 p-pb-0">
    <div class="p-grid">
      <div class="p-col-12 p-sm-12">
        <div>
          Nuevo Producto
        </div>
      </div>
    </div>
  </ng-template>

  <form [formGroup]="form_product" class="">
    <div class="p-grid p-mt-2">
      <div class="p-field p-col-3 p-sm-3">
        <label for="code">Código</label>
        <input id="code" formControlName="code" [(ngModel)]="model.code" type="text"
          onkeyup="javascript:this.value = this.value.toUpperCase();" pInputText>
        <ng-container *ngIf="form_product.get('code').hasError('required') && form_product.get('code').touched">
          <small class="p-invalid p-text-center">El código es obligatorio</small>
        </ng-container>
        <ng-container *ngIf="form_product.get('code').hasError('A') && form_product.get('code').touched">
          <small class="caption p-text-center">Este código ya está en uso</small>
        </ng-container>
      </div>

      <div class="p-field p-col-6 p-sm-6">
        <label for="description">Nombre</label>
        <input id="description" formControlName="name" [(ngModel)]="model.name" type="text" pInputText>
        <ng-container *ngIf="form_product.get('name').hasError('required') && form_product.get('name').touched">
          <small class="p-invalid p-text-center">El nombre del articulo es obligatorio</small>
        </ng-container>
      </div>

      <div class="p-field p-col-3 p-sm-3">
        <label for="stock">Stock</label>
        <input id="stock" [(ngModel)]="model.stock " formControlName="stock" type="text" pInputText>
        <ng-container *ngIf="form_product.get('stock').hasError('required') && form_product.get('stock').touched">
          <small class="p-invalid p-text-center">El stock es obligatorio</small>
        </ng-container>
      </div>

      <div class="p-field p-col-4 p-sm-4">
        <label for="unitValue">Valor unitario</label>
        <input id="unitValue" [(ngModel)]="model.unitValue" formControlName="unitValue" type="text" pInputText>
        <ng-container
          *ngIf="form_product.get('unitValue').hasError('required') && form_product.get('unitValue').touched">
          <small class="p-invalid p-text-center">El valor unitario es obligatorio</small>
        </ng-container>
      </div>
    </div>

    <div class="p-mt-2">
      <div class="p-d-flex p-jc-between p-ai-center p-mb-1">
        <h4 class="color-title">Materia prima</h4>
        <button pButton pRipple icon="fas fa-plus" iconPos="right" label="Agregar"
          class="p-button button-text p-button-close" (click)="addRow()"></button>
      </div>
      <div class="table-responsive p-mb-3">
        <p-table [value]="model.detailProducts" dataKey="id" styleClass="p-datatable-gridlines"
          formArrayName="materials">
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 100px;">Materia prima</th>
              <th style="width: 100px;">Unidad de medida</th>
              <th style="width: 100px;">Cantidad necesaria</th>
              <th style="width: 50px;">*</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-dataRow let-rowIndex="rowIndex">
            <tr [formGroupName]="rowIndex">

              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-dropdown [options]="rawMaterials" optionLabel="name" id="rowMaterial" formControlName="description"
                      placeholder="Selecciona" [(ngModel)]="dataRow.rawMaterial" [style]="{ width: '100%' }"></p-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ dataRow.rawMaterial.name || ''}}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-dropdown [options]="measurements" optionLabel="description" id="measurement" formControlName="measurement"
                      placeholder="Selecciona" [(ngModel)]="dataRow.measurement" [style]="{ width: '100%' }"></p-dropdown>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ dataRow.measurement.description }}
                  </ng-template>
                </p-cellEditor>
              </td>

              <td pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <input pInputText type="text" formControlName="quantity" [(ngModel)]="dataRow.quantity" (change)="calculateProductionCost()"/>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ dataRow.quantity || "" }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                <button pButton pRipple type="button" icon="fa fa-trash-alt" class="button-action"
                  (click)="deleteRow(dataRow, rowIndex)"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <div class="p-text-right">Costo de producción: $ {{ model.productionCost }}</div>
    </div>

    <br>
    <p-footer class="p-grid">
      <button type="submit" pButton pRipple icon="pi pi-save" label=" Guardar" (click)="saveProduct()"
        [disabled]="form_product.invalid"></button>
      <button pButton pRipple icon="pi pi-times" label=" Cerrar" class="p-button-close button-text p-ml-2"
        (click)="showModal=false"></button>
    </p-footer>
  </form>
</p-dialog>
<p-confirmDialog class="dialog-small"></p-confirmDialog>
