<div class="header">
  <div class="row">
    <div class="column-logo">
      <button class="pi pi-bars bar" (click)="toggleMenu()"></button>
      <img class="logo" style="width: 100%;" src="assets/images/horus.svg">
    </div>
    <div class="column-user" (click)="userdetails.toggle($event)">
      <img class="user" src="assets/images/user.jpg">
      <div class="info">
        <h3>Admin Administrador</h3>
        <p>Administrador</p>
      </div>
      <i class="pi pi-bell icon-notification"></i>
    </div>
  </div>
</div>

<!-- user detials overlay panel -->
<p-overlayPanel #userdetails>
  <div style="display: flex;">
    <img class="user" src="assets/images/user.jpg">
    <div class="info" (click)="userdetails.toggle($event)">
      <h3 style="font-weight: bold;">Admin Administrador</h3>
      <p>Administrador</p>
    </div>
  </div>
  <hr>
  <div class="p-pt-4">
    <a class="item-logout"><i class="pi pi-sign-out"></i> Cerrar Sesión</a>
  </div>
</p-overlayPanel>
