<div class="header">
  <div class="row">
    <div class="column-logo">
      <button class="fa fa-bars bar"></button>
      <h2 class="logo">HORUS</h2>
    </div>
    <div class="column-user">
      <img class="user" src="assets/images/user.jpg">
      <div class="info">
        <a href="" style="text-decoration:none">
          <h3 style="font-weight: bold;">Admin Administrador</h3>
          <p>Administrador</p>
        </a>
      </div>
      <i class="fa fa-bell" style="padding-left: 0.8em;"></i>
    </div>
  </div>
</div>
